# Arithmetic Operators

Arithmetic operators are used with numeric values to perform common mathematical operations:
+	Addition	     x + y	
-	Subtraction	     x - y	
*	Multiplication	 x * y	
/	Division	     x / y	
%	Modulus	         x % y	
**	Exponentiation	 x ** y	
//	Floor division	 x // y

In [1]:
#Addition
12+45

57

In [2]:
#Subtraction
50-10

40

In [3]:
#Multiplication
24*25

600

In [4]:
#Division
25/5

5.0

In [13]:
#Reminder or Modulus
print(1%2)
print(2%2)
print(3%2)
print(4%2)
print(7%2)
print(8%2)
print(9%2)
print(10%2)

1
0
1
0
1
0
1
0

In [24]:
#Exponentiation
print(2**2)
print(2**3)
print(2**4)
print(2**5)

4
8
16
32

In [1]:
#Floor Division
10//5
25//5

5

In [30]:
#"Bhavik " + 1986 #It showing error due to both type of data is different

"Bhavik" + str(1986) #Converted integer into string

'Bhavik1986'

In [32]:
#If string multipy with interger, It print the string value given number of time
"Bhavik " * 20

'Bhavik Bhavik Bhavik Bhavik Bhavik Bhavik Bhavik Bhavik Bhavik Bhavik Bhavik Bhavik Bhavik Bhavik Bhavik Bhavik Bhavik Bhavik Bhavik Bhavik '

# Comparison Operators

Comparison operators are used to compare two values:
==	Equal	                   x == y	
!=	Not equal	               x != y	
>	Greater than	           x > y	
<	Less than	               x < y	
>=	Greater than or equal to   x >= y	
<=	Less than or equal to	   x <= y

In [48]:
#Comparision Operators
#Equals to
print(10==10) #Comparing with same value
print(10==11) #Comparing with different value
#Not Equals to
print(10!=11) #Comparing with different value
print(10!=10) #Comparing with same value
#Greater than
print(10>11) #Comparing with larger value
print(10>9) #Comparing with smaller value
#Less than
print(10<11) #Comparing with larger value
print(10>11) #Comparing with smaller value
#Greater than or Equals to
print(10>=11) #Comparing greater than or equal value
print(10>=10) 
print(10>=9)
#Less than or Equals to
print(10<=11)
print(10<=10)
print(10<=9)

True
False
True
False
False
True
True
False
False
True
True
True
True
False

# Logical Operators

Logical operators are used to combine conditional statements:
and 	Returns True if both statements are true	                x < 5 and  x < 10	
or	    Returns True if one of the statements is true               x < 5 or x < 4	
not	    Reverse the result, returns False if the result is true	    not x < 5 and x < 10

In [8]:
#"and" operator
print(1 and 2)
print(0 and 1)
print(1 and 3)
print(1 and 4)
print(2 and 3)
print(2 and 4)
print(3 and 4)

2
0
3
4
3
4
4

In [9]:
#"or" operator
print(1 or 2)
print(0 or 1)
print(1 or 3)
print(1 or 4)
print(2 or 3)
print(2 or 4)
print(3 or 4)

1
1
1
1
2
2
3

In [157]:
# 'not' operator
print(not(2 and 3))
print(not(3 and 2))
print(not(2 and 2))
print(not(2 or 3))
print(not(3 or 2))
print(not(2 or 2))

False
False
False
False
False
False

# Assignment Operators

In [2]:
#Assigning Operator = (Equals Sign). It is assigning the value
x = 5
x

5

In [10]:
#Assigning Operator += (Equals Sign). It is adding the value to existing variable
x=5
x+=3
print(x)

8

In [11]:
#Assigning Operator -= (Equals Sign). It is subtracting value to existing variable
x=5
x-=3
print(x)

2

In [12]:
#Assigning Operator *= (Equals Sign). It is multiply value to existing variable
x=5
x*=3
print(x)

15

In [13]:
#Assigning Operator /= (Equals Sign). It is division value to existing variable
x=5
x/=3
print(x)

1.6666666666666667

In [14]:
#Assigning Operator %= (Equals Sign). It is modulus/reminder value to existing variable
x=5
x%=3
print(x)

2

In [15]:
#Assigning Operator //= (Equals Sign). It is floor division value to existing variable
x=5
x//=3
print(x)

1

In [17]:
#Assigning Operator **= (Equals Sign). It is exponentiation value to existing variable
x=5
x**=3
print(x)

125

In [149]:
#Assigning Operator &= (Equals Sign).
x=10
x&=2
print(x)

#1 = 0
#2 = 0
#3 = 2
#4 = 0
#5 = 0
#6 = 2
#7 = 2
#8 = 0
#9 = 0
#10 =2

2

In [125]:
#Assigning Operator |= (Equals Sign). After number adding the number
x=1
x|=2
print(x)

#0+2 = 2 number will be added
#1+2 = 3  number will be added
#2   = 2  number will bw as it is
#3 = 2  number will bw as it is
#4+2 = number will be added
#5+2 = number will be added
#6 =  number will bw as it is
#7 = number will bw as it is
#8 = number will be added
#9 = number will be added
#10 = number will bw as it is
#11 = number will bw as it is

3

In [82]:
#Assigning Operator ^= (Equals Sign). 
x=1
x^=2
print(x)

#for odd number it will adding
#for even number it will subtracting

x1=2
x1^=2
print(x1)

3
0

In [62]:
#Assigning Operator >>= (Equals Sign). 
x=10
x>>=3
print(x)
#10/2 = 5
#5/2 = 2.5
#2.5/2 = 1.25

1

In [58]:
#Assigning Operator <<= (Equals Sign).
x=5
x<<=3
print(x)
#5*2=10
#10*2=20
#20*2=40

40

# Identity Operators

is   	Returns True if both variables are the same object	    x is y	
is not	Returns True if both variables are not the same object	x is not y

In [160]:
# is operator. If both the values are true then it shows true otherwise false
x=50
y = 50
x is y

True

In [161]:
# is operator. If both the values are true then it shows true otherwise false
x=50
y = 60
x is y

False

In [162]:
# is not operator. If both the values are not true then it shows true otherwise false
x=50
y = 50
x is not y

False

In [163]:
# is not operator. If both the values are not true then it shows true otherwise false
x=50
y = 60
x is not y

True

# Membership Operators

In [164]:
#in operator. if y values available in x list then it is true otherwise false
x = [1,2,3,4,5,6]
y = 4

y in x

True

In [165]:
#in operator. if y values available in x list then it is true otherwise false
x = [1,2,3,4,5,6]
y = 10

y in x

False

In [167]:
#not in operator. if y values not available in x list then it is true otherwise false
x = [1,2,3,4,5,6]
y = 10

y not in x

True

In [168]:
#not in operator. if y values not available in x list then it is true otherwise false
x = [1,2,3,4,5,6]
y = 5

y not in x

False