In [1]:
#Creating list with integers
list1 = [2,3,4,5,6]
print(list1)

[2, 3, 4, 5, 6]

In [9]:
#Creating list with string names
list2 = ["Bhavik", "Vijay", "Sunil","Yogesh"]
print(list2)

['Bhavik', 'Vijay', 'Sunil', 'Yogesh']

In [14]:
#Creating list with mix
list3 = ["Ankit",1,"Vijay",2,"Ajay",3]
print(list3)

['Ankit', 1, 'Vijay', 2, 'Ajay', 3]

In [20]:
#Accessing a list
print(list1[0]) #Accesing first element of a list
print(list2[0])
print(list3[0])

print(list1[:3])#Accesing first to third element of a list
print(list2[:3])
print(list3[:3])

print(list1[-1])#Accessing last element of a list
print(list2[-1])
print(list3[-1])

print(list1[:])#Accessing all the elements of the list
print(list2[:])
print(list3[:])

print(list1[-1:-3])#Accessing all the elements of the list
print(list2[:])
print(list3[:])

2
Bhavik
Ankit
[2, 3, 4]
['Bhavik', 'Vijay', 'Sunil']
['Ankit', 1, 'Vijay']
6
Yogesh
3
[2, 3, 4, 5, 6]
['Bhavik', 'Vijay', 'Sunil', 'Yogesh']
['Ankit', 1, 'Vijay', 2, 'Ajay', 3]
[]
['Bhavik', 'Vijay', 'Sunil', 'Yogesh']
['Ankit', 1, 'Vijay', 2, 'Ajay', 3]

In [2]:
#Adding single elements in a list
list2 = [15,45,89]
list2.append(50)
list2
list2.append(90)
list2

[15, 45, 89, 50, 90]

In [4]:
#Adding multiple elements in a list
list2.extend([88,42,68])
list2
list2.extend([94,74,65,84,52,36,74,])
list2

[15, 45, 89, 50, 90, 88, 42, 68, 88, 42, 68, 94, 74, 65, 84, 52, 36, 74]

In [5]:
#Adding list in a list
list2.append([420,786])
list2

[15,
 45,
 89,
 50,
 90,
 88,
 42,
 68,
 88,
 42,
 68,
 94,
 74,
 65,
 84,
 52,
 36,
 74,
 [420, 786]]

In [11]:
#Removing elements from a list
print(list2)

list2.remove([420,786])

print(list2)

[45, 89, 50, 90, 88, 42, 68, 88, 42, 68, 94, 74, 65, 84, 52, 36, 74, [420, 786]]
[45, 89, 50, 90, 88, 42, 68, 88, 42, 68, 94, 74, 65, 84, 52, 36, 74]

In [31]:
#Removing number 36 from a list
list2.remove(36)

print(list2)

[89, 50, 68, 68, 94, 74, 65, 84, 52, 74]

In [38]:
#Remove number 74 through index
del list2[5]

print(list2)

[89, 50, 68, 68, 94, 65]

In [47]:
#Accessing elements through loop

print(list2)

for i in list2:
    print(i+1)
    
print(list2)

[89, 50, 68, 68, 94, 65]
90
51
69
69
95
66
[89, 50, 68, 68, 94, 65]