In [ ]:
#Apply Function

In [3]:
# Import library
import pandas as pd

In [35]:
#Reading csv file
data = pd.read_csv("C:/Users/Bhavik/Desktop/Data Science/1. Linear Regression/3_Insurance_Losses/InsuranceLosses.csv")

In [5]:
#Accessing row wise
data.apply(lambda x:x)

,Policy Number,Age,Years of Driving Experience,Number of Vehicles,Gender,Married,Vehicle Age,Fuel Type,Losses
0,150024,24,5,1,M,Married,11,P,203.319595
1,144880,31,10,1,F,Single,6,P,402.197302
2,133742,56,37,1,M,Married,0,D,553.132096
3,151282,52,31,1,F,Married,15,P,292.430579
4,174407,20,3,1,M,Single,15,P,246.540576
...,...,...,...,...,...,...,...,...,...
15286,142111,69,48,4,F,Married,9,P,304.519134
15287,176444,69,51,4,F,Married,13,P,282.149148
15288,180420,22,4,4,M,Married,9,D,822.470554
15289,157201,20,2,4,F,Married,2,P,406.924740
15290,157208,20,2,4,F,Married,2,P,NaN

In [10]:
#Accessing first row
data.apply(lambda x:x[0])

Policy Number                   150024
Age                                 24
Years of Driving Experience          5
Number of Vehicles                   1
Gender                               M
Married                        Married
Vehicle Age                         11
Fuel Type                            P
Losses                          203.32
dtype: object

In [14]:
#Accessing first column by index
data.apply(lambda x:x[0], axis = 1)

0        150024
1        144880
2        133742
3        151282
4        174407
          ...
15286    142111
15287    176444
15288    180420
15289    157201
15290    157208
Length: 15291, dtype: int64

In [15]:
#Accessing column by its name
data.apply(lambda x:x['Policy Number'], axis = 1)

0        150024
1        144880
2        133742
3        151282
4        174407
          ...
15286    142111
15287    176444
15288    180420
15289    157201
15290    157208
Length: 15291, dtype: int64

In [18]:
data['Losses'][:5]

0    203.319595
1    402.197302
2    553.132096
3    292.430579
4    246.540576
Name: Losses, dtype: float64

In [22]:
#Apply function in using with defining function

def insurance_loss(amount):
    if amount>500:
        amount = 500
    return amount

data['Losses'].apply(lambda x:insurance_loss(x))[:5]

0    203.319595
1    402.197302
2    500.000000
3    292.430579
4    246.540576
Name: Losses, dtype: float64

In [36]:
data['Gender'][:5]

0    M
1    F
2    M
3    F
4    M
Name: Gender, dtype: object

In [37]:
def label_encode(Gender):
    if Gender == 'F':
        label = 0
    else:
        label = 1
    return label

In [38]:
data['Gender'] = data['Gender'].apply(label_encode)
data['Gender']

0        1
1        0
2        1
3        0
4        1
        ..
15286    0
15287    0
15288    1
15289    0
15290    0
Name: Gender, Length: 15291, dtype: int64